:root {
    --ct-color-host-accent: #54487A !important;
}

body.login-pf {
    background-size: cover;
    background-color: #54487A;
}

.navbar-pf {
    border-color: #54487A !important;
}

#badge {
    width: 80px;
    height: 80px;
    background-image: url("logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
